.heart-this-wrap {
	clear: both;
	text-align: right;
	width: 100%;

	.heart-this {
		color: $gray;
		display: inline-block;
		height: 40px;
		font-size: 14px;
		text-decoration: none;
		box-shadow: none;
		vertical-align: middle;

		&::before {
			background-image: url("../images/heart-animation.png");
			background-position: left;
			background-repeat: no-repeat;
			background-size: 2900%;
			border: 0;
			content: "";
			display: inline-block;
			cursor: pointer;
			height: 100%;
			width: 50px;
			text-decoration: none;
			transition: none;
			vertical-align: middle;
		}

		&:hover,
		&:focus,
		&.active {
			color: $red;
			text-decoration: none;
			box-shadow: none;

			&::before {
				background-position: right;
			}
		}

		&.is-animating {
			&::before {
				animation: heart-burst 0.8s steps(28) 1;
			}
		}

		span {
			display: inline-block;
			margin-left: -5px;
			vertical-align: baseline;
			line-height: 1;
		}
	}
}
