@keyframes heart-burst {
	from {
		background-position: left;
	}

	to {
		background-position: right;
	}
}

.heart-this {
	height: 50px;

	&::before {
		background-image: url("../images/heart-animation.png");
		background-position: left;
		background-repeat: no-repeat;
		background-size: 2900%;
		border: 0 !important;
		content: "";
		display: inline-block;
		cursor: pointer;
		height: 50px;
		width: 50px;
		text-decoration: none;
		transition: none !important;
	}

	&:hover,
	&.active {
		&::before {
			background-position: right;
		}
	}

	&.is-animating {
		&::before {
			animation: heart-burst 0.8s steps(28) 1;
		}
	}
}
