.heart-this {
	background: url(../images/heart.png) no-repeat 0 49%;
	border: 0 !important;
	display: inline-block;
	margin-bottom: 10px;
	min-height: 14px;
	padding-left: 18px;
	text-decoration: none;

	&:hover,
	&:focus,
	&.active {
		background: url(../images/heart_active.png) no-repeat 0 49%;
		border: 0 !important;
		margin: 0 0 10px 0 !important;
		padding-left: 18px !important;
		text-decoration: none;
	}
}
